<div class="container">
    <h1>Feature 1</h1>
    <ul>
        <li>Users can change the background color for each Todo item.</li>
    </ul>

    <h1>Feature 2</h1>
    <ul>
        <li>Users can add and remove tags to the Todo items.</li>
        <li>Users can filter Todo items by tags.</li>
        <li>Add shortcuts on the UI for the most used tags by the user (nice to have).</li>
        <li>Add text search (nice to have).</li>
    </ul>

    <h1>Feature 3</h1>
    <ul>
        <li>Add soft delete for Todo lists and items.</li>
        <li>Deleted items should not be deleted from the database.</li>
        <li>Deleted items should not be shown on the UI or included in any query.</li>
    </ul>

    <p>Include as much unit test coverage as possible for the code you add.</p>

    <p>We are aware that our tasks have open-ended questions. But we wish to see your perspective and ideas. Feel free to let your imagination run wild and create anything you want with this task.</p>
</div>
